/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

/* Stan */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	line-height: .8;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 100;
	text-align: center;
}

.bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding-top: 30px;
}

.bold:hover {
	color: white;
	-webkit-text-stroke: black 1px;
}

.click-to-continue {
	margin-top: 100px;
	display: flex;
	gap: 15px;
	justify-content: center;
}

.threeButtons {
	margin-top: 100px;
	display: flex;
	gap: 50px;
	justify-content: center;
}

.page1 {
	padding-top: 100px;
	padding-bottom: 180px;
}

.pickImages {
	width: 300px;
	height: 260px;
}

.pickImages:hover {
	width: 330px;
	height: 286px;
}

.animals {
	margin-top: 50px;
	display: flex;
	gap: 80px;
	justify-content: center;
}

.top-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 100px;
	grid-gap: 10px;
	padding-left: 60px;
}

.button {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: black;
	height: 100px;
	justify-self: start;
	align-self: end;
}

.button:hover {
	color: white;
	-webkit-text-stroke: black 1px;
}

.score {
	align-self: end;
	height: 70px;
}

.backgroundPic {
	width: 1280px;
	height: 400px;
}

/* /Stan */

/* This uses the same value as --size-xs. 
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}
*/

#game {
	width: 1280px;
	height: 400px;
	margin: 0 auto;
	border: 2px solid black;
	position: relative;
	background: black;
	overflow: hidden;
}

#cat {
	width: 200px;
	height: 200px;
	border-radius:50%;
	position:absolute;
	bottom: 0px;
	left: 120px;
}

#cat img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.jumpClass {
	animation: jump 1s infinite;
}

@keyframes jump {
	0% {
		bottom: 0px;
	}

	30% {
		bottom: 200px;
	}

	70% {
		bottom: 200px;
	}

	100% {
		bottom: 0px;
	}
}

#block  {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	animation: blockMove 2s linear infinite;
}

#block img {
	width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes blockMove {
    0% {
        left: 1280px;
    }
    100% {
        left: -50px;
    }
}

