/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

/* Stan */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	line-height: .8;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 100;
	text-align: center;
}

.bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
}

.click-to-continue {
	margin-top: 100px;
	display: flex;
	gap: 15px;
	justify-content: center;
}

.page1 {
	padding-top: 100px;
	padding-bottom: 180px;
}

.page2 {
	opacity: 0;
}

.character-choose {
	position: absolute;
	display: flex;
	top: 100px;
	padding: 0px 100px;
	z-index: -1;
	color: white;
}

.character-choose-change {
	position: absolute;
	top: 100px;
	padding: 0px 100px;
	z-index: -1;
	color: black;
}

img {
	width: 50%;
	height: 50%;
}

.animals {
	position: absolute;
	top: 150px;
	margin-left: 0%;
	z-index: -1;
	display: flex;
	opacity: 0;
}

.animals-change {
	position: absolute;
	top: 150px;
	margin-left: 0%;
	z-index: -1;
	display: flex;
	opacity: 1;
}

/* /Stan */

/* This uses the same value as --size-xs. 
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}
*/

body {
	padding: 20px;
	background-color:white;
}

#game {
	width:2000px;
	height: 800px;
	border: 1px solid black;
	position: relative;
}

#cat {
	width: 100px;
	height: 100px;
	border-radius:50%;
	background-color:red;
	position:absolute;
	bottom: 0px;
}

.jumpClass {
	animation: jump 0.3s infinite;
}

@keyframes jump {
	0%{
		bottom: 0px;
	}

	30%{
		bottom: 100px;
	}

	70%{
		bottom: 100px;
	}
}

#block  {
	width: 20px;
	height:120px;
	background-color: blue;
	position:absolute;
	bottom: 0px;
	left: 450px;
	animation: block is linear infinite;
}
